.homePage{
    background-color:rgba( #bfbfbf, .5);
    height: 81vh;
    width: 100%;
    border: 1px solid #fafafa;
    
    box-sizing: border-box;
    position: relative;
    .cardPage{
        padding: 20px 0;
        .cityName{
            padding: 5px 20px;
            max-width: 100%;
            display: inline;
            border-radius: 0 25px 25px 0;
            background-color: #d9d9d9;
            font-weight: 700;
            color:#fff566;
            font-size: 1.5rem;
        }
    }

    .temperature{
        padding-right: 30px;
        font-size: 2em;
        float:right;
        color: #ffffff;
        line-height: 20px;
        h3{
            font-weight: 100;
            font-size: 2em;
            color:#ffffff;
        }
        p{
            float: right;
            .temperature-active{
                
                color:#ffffff;
                cursor: pointer;
            }
    
            .temperature-not-active{
                
                color:#d9d9d9;
                cursor: pointer;
            }
        }
        
    }

    .weatherCard{
        line-height: 1.6;
        margin-left: 20px;
        font-size: 1rem;
        color:#ffffff;
        p{
            padding-left: 5px;
            margin:0;
        }
        .time{
            border-left: 1px solid #ff4d4f;
        }
        .day{
            border-left: 1px solid #ff7a45;
        }

        .humidity{
            border-left: 1px solid #ffa940;
        }

        .description{
            border-left: 1px solid #ffc53d;
        }
    }
    img.iconWeather{
        animation: trans 5s infinite;
    }
    .tomorrowWeather{
        text-align: center;
        position: relative;
        bottom:-3px;
        color:#ffffff;
        h3{
            color: #ffffff;
        }
        
        .ant-col{
            border: 1px solid #fafafa;
            border-bottom: none;
        }
    }
}

.tagCity{
    .ant-col{
        button{
            width: 100%;
            cursor: pointer;
            color: #ff7a45;
        }
    }
}
@keyframes trans{
    0% {
        transform: translateX(20px);
    }
    25% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(20px);
    }
    75% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(20px);
    }
}


.startLoading{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    animation: loading 3s 1 ease-out;
    img{
        
        width: 400px;
          
    }
}


.searchContainer {
    background: #fff;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    animation: ef-search-loading 3s 1 ease-out;
    img{
        
        width: 400px;
          
    }

}

.search-container {

    color: #fff;
    // padding: 0px 20px;
    position: relative;
    margin: 5vh 0 2vh 0;

    .input-search {
        width: 100%;
        padding: 10px;
        padding-right: 50px;
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: #fbcb4f;
        transition: border 0.3s ease-in-out;
    }
      
    .input-search:hover {
        border: 1px solid rgba(255, 255, 255, 0.6);
    }
      
    .input-search:focus {
        outline: none;
    }
      
    .input-search::placeholder {
        color: rgba(255, 255, 255, 0.8);
    }
}

  